# TODO MAKE THIS FILE BE A setup.py OR IDK. SOMETHING TO FORCE REINSTALL ALL PACKAGES

git+https://github.com/Rapptz/discord.py

PyYAML
aiohttp
youtube_dl
ffmpeg
PyNaCl
certifi
jishaku
requests
dotenv

disutils

# speedups
aiodns
Brotli
cchardet
orjson
